/* class date: 2/11 */

* {
	padding: 0; 
	margin: 0;
	box-sizing: border-box;
	position: relative;
}

body {
	color: #333;
	font-size:1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;


	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */


}
nav li {
	display: inline-block;
	margin-right: 12px;
	
} 
nav a {
	padding:6px;
	color: #333;
	text-decoration: none;
	display: block;
	background: #f0dfb4;
}
nav a:hover {
	color: #fff;
	background: #600;
}
nav {
	float: right;
/*	position: absolute;
	top: 10px;
	right:0;*/
}
#info {
	float: left;
/*	position: absolute;
	top:120px;
	left:10px;*/
	width: 180px;
	background: #f0dfb4;
	padding: 12px;
	border: 1px solid #600;
	border-radius: 16px 0;
	box-shadow: 0px 0px 15px #333 inset;
}
article {
	margin: 0 20px 0 240px;
}
blockquote {
	float:right;
	font-size: 2em;
	padding: 12px;
	width: 40%;
}
img {
	float: right;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	/*position: relative;*/	
}
p {
	margin: 1em 0  0 0;
}
h1 {
	font-family: 'Pacifico', cursive;
	text-shadow: 3px 3px 3px #0f0;
}

		#nav {
			/*box-sizing: border-box;*/
			background: #ffcd2d url(nav_bg.gif) bottom left repeat-x;
			margin: 0;
			padding: 10px 0 0 46px;
			list-style: none;
			float: left;
			width: 100%;
		}
		#nav li {
			float: left;
		}
		#nav a {
			text-decoration: none;
			color: #333;
			padding: 4px 8px;
			border: 1px solid #9b8748;
			margin: 0 8px 0 0;
			float: left;
			background: #f9eaa9 url(off_bg.gif) top left repeat-x ;
			border-bottom: none;
		}
		#p-cuisines #t-cuisines a ,
		#p-chefs #t-chefs a ,
		#nav a:hover {
			background-color: #fff;
			background-image: url(on_bg.gif);
			padding-bottom: 5px;
		}

























